<h1 class="current-category">Category: <%= params[:category] %></h1>

<% if @books.count == 0 %>
	<h1> There are no books in this category </h1>
<% else %>
	<h1>There are <%= @books.count %> books in this category </h1>
<% end %>	
<% @books.each do |book| %>
	<h2><%= link_to book.title, book %></h2>
<%	end %>